/* 
 *	Helper Classes (Global)
 */

.noBorder {border: none !important;}
.noMargin {margin: 0 !important;}
.noPadding {padding: 0 !important;}
.noBullet {background: none !important; padding-left: 0px !important;}
.hidden { display: none !important; visibility: hidden; }

.rounded {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

.dropShadow {
	-moz-box-shadow: 0px 0px 6px #888; /* for Firefox 3.5+ */
	-webkit-box-shadow: 0px 0px 6px #888; /* for Safari and Chrome */
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=145, Strength=6);*/
}

.disabled {
	opacity: .6;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	cursor: default;
}

/* Contain floats - clearfix */ 
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }