/*** SIGMA THIRD PARTY PROCUREMENT ***/

.middle{margin:0 auto;}
.results-sprite{background: transparent url('../img/browse-filter/results-sprite.png') no-repeat scroll 0 0;}

/* Header
-----------------------------------------------------*/

#third-party header{
	background: transparent url(../img/header/bg.png) repeat-x scroll 0 0;
	height: 147px;
	margin-bottom: 30px;

}
	#third-party header .top{
		background-image: url(../img/header/logo.png);
		height: 35px;
		position: relative;
		width: 990px;

	}
		#third-party header .top a.cart{
			color: #FFF;
			font-family: Arial;
			font-size: 10px;
			font-weight: bold;
			padding-left: 20px;
			position: absolute;
			right: 0;
			top: 13px;

		}
	#third-party header .btm{
		background-image: url(../img/header/3PP-logo.jpg);
		height: 112px;
		position: relative;
		width: 990px;

	}
		#third-party header .btm a.logo{
			height: 60px;
			left: 0;
			position: absolute;
			top: 22px;
			width: 300px;
		}

/* Footer
-----------------------------------------------------*/

#third-party footer{
	background: transparent url(../img/footer/bg.png) repeat-x scroll 0 0;
	height: 591px;

}
	#third-party footer .top{
		background-image: url(../img/footer/need-assistance.png);
		height: 305px;
		width: 990px;

	}
	#third-party footer .btm{
		background-image: url(../img/footer/footer-links.png);
		height: 286px;
		width: 990px;

	}
	

/* Overlays
-----------------------------------------------------*/

#overlay{
	padding: 20px;
	position: relative;
	
}
	#overlay .properties-pricing img{
		float: left;
		
	}
	#overlay img:first-child{
		margin-right: 20px;
		
	}
	#third-party .inputs{position:absolute;}
	#overlay .inputs{
		right: 96px;
		top: 223px;
		
	}
		#third-party .inputs input{
			border: 1px solid #cac9c7;
			display: block;
			font-weight: bold;
			margin-bottom: 13px;
			padding: 4px 0;
			text-align: center;
			height: 14px;
			width: 30px;
			
		}
	#third-party a.cart-button{
		display: block;
		height: 30px;
		position: absolute;
		width: 135px;
		
	}
	#overlay a.cart-button{
		bottom: 40px;
		right: 37px;
	}

/* Search / Breadcrumbs
-----------------------------------------------------*/


#third-party .search{
	background-image: url(../img/search/global-search.png);
	background-repeat: no-repeat;
	display: block;
	height: 43px;
	margin: 25px auto 25px;
	position: relative;
	width: 990px;
	
}
	#third-party .search input{
			border: 0; 		
			margin: 0; 		
			position: absolute;

		}
		#third-party .search input[type=text]{
			border: 1px solid #d9d9d9;
			border-radius: 5px;
			color: #403C36;
			font-size: 16px;
			font-weight: bold;
			height: 41px;
			padding: 0 10px;
			width: 548px;
			z-index: 5;

		}
		#third-party .search input[type=submit]{
			background-color: transparent;
			background-image: url(../img/search/magnify-glass.png);
			background-repeat: no-repeat;
			bottom: 5px;
			cursor: pointer;
			display: block;
			height: 27px;
			right: 430px;
			width: 23px;
			z-index: 10;
		
		}
	#third-party .search.global a{
		bottom: 10px;
		display: block;
		height: 20px;
		position: absolute;
		right: 20px;
		width: 150px;

	}
#third-party .breadcrumbs-container{
	background: transparent url(../img/search/bread-crumbs-bg.png) repeat-x scroll 0 0;
	height: 37px;
	
}
	#third-party .breadcrumbs{
		background: transparent url(../img/search/breadcrumbs.png) no-repeat scroll 0 0;
		margin: 0 auto;
		position: relative;
		height: 37px;
		width: 991px;
	}
		#third-party .breadcrumbs a{
			display: block;
			position: absolute;
			height: 17px;
			top: 12px;
			
		}
		#third-party .breadcrumbs a.store{left: 0; width: 105px;}
		#third-party .breadcrumbs a.section{left: 107px; width: 82px;}
		

/* Product Module
-----------------------------------------------------*/

#third-party .product{
	background-color: #eaeae8;
	display: block;
	height: 240px;
	position: absolute;
	text-align: center;
	width: 240px;
	
}
#third-party .product:hover{
	background-color: #d3d3cc;
	cursor: pointer;
}
	#third-party .product img{
		padding: 5px 0;
		
	}
	#third-party .product p{
		color: #333;
		font: bold 12px Arial, sans-serif;
		padding: 1px 0;
		
	}
	#third-party .product p.name{
		height: 32px;
	}
	#third-party .product a{
		background-image: url('../img/modules/quick-view.png');
		background-repeat: no-repeat;
		display: block;
		height: 28px;
		margin: 5px auto 0;
		text-indent: -9999em;
		width: 123px;
		
	}
	#third-party .product span{
		background: transparent url(../img/modules/preferred-product.png) no-repeat scroll 0 0;
		display: block;
		height: 27px;
		left: 15px;
		position: absolute;
		top: 0;
		width: 17px;
		
	}
	
	
/* Content Wrapper
-----------------------------------------------------*/	

#third-party .content-wrapper{
	width: 990px;
	
}

/* Two Column Layout
-----------------------------------------------------*/
#third-party .col{display: block;float: left;margin-bottom: 50px;position:relative;}

#third-party .col1.small{width: 220px;}
#third-party .col2.small{width: 240px;}

#third-party .col.large{width: 740px;}

#third-party .col1.small{margin-right:25px;}
#third-party .col1.large{margin-right:10px;}

#third-party .page-title{margin-bottom: 20px;}


/* Left Rail (Browse and Filter)
-----------------------------------------------------*/
#third-party

#third-party .request-a-product{
	background: #DDD url(../img/browse-filter/request-a-product.png) no-repeat scroll 0 0;
	display: block;
	height: 200px;
	position: relative;
	width: 190px;

}
	#third-party .request-a-product a{
		bottom: 0;
		left: 0;
		width: 180px;
		
	}
	