/** Index.html **/

#third-party .home.search{
	background-image: url(../img/search/home-search.png);
	background-repeat: no-repeat;
	display: block;
	height: 168px;
	margin: 0 auto 50px;
	position: relative;
	width: 990px;
	
}
	#third-party .home.search input[type=text]{
		left: 34px;
		padding: 15px;
		height: 21px;
		top: 64px;
		width: 653px;

	}
	#third-party .home.search input[type=submit]{
		bottom: 64px;
		right: 299px;
		
	}
#third-party .home.search p, #third-party .home.search a{
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	
}
	#third-party .home.search p{
		bottom: 20px;
		color: #666666;
		left: 35px;
		position: absolute;
		
	}
	#third-party .home.search a.request{
		border-bottom: 1px solid #f6534c;
		color: #f82c24;
		
	}
	#third-party .home.search a:hover{text-decoration:none;}
	

/* NAV
-----------------------------------------------------*/

nav.col1 .life-science{
	background: #DDD url(../img/browse-filter/home-life-science.png) no-repeat scroll 0 0;
	display: block;
	height: 45px;
	width: 219px;
}
nav.col1 .life-science:hover{
	background-position: 0px -45px;
}


/* Products
-----------------------------------------------------*/

#third-party section.products{
	position: relative;
	width: 740px;
}

	#third-party #index section.products .product {
		left: 2px;
		top: 87px;
	}