/* IE7 */
/*	General
 *-------------------------------------------------------- */
body {
  font-family: Helvetica, Arial, sans-serif;
  background: #f82c24;
  color: #FFF; }

a {
  color: #FFF;
  text-decoration: none; }
  a:link, a:visited {
    color: #FFF;
    text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #FFF;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: FFF; }

h1 {
  font-size: 20px;
  line-height: 24px; }

h2 {
  font-size: 15px;
  line-height: 20px; }

h3 {
  font-size: 12px;
  line-height: 16px;
  padding: 15px 0; }
  h3 span {
    font-style: italic; }

/*	
 *-------------------------------------------------------- */
#header {
  padding: 15px 0 25px 15px;
  border-bottom: 1px solid #FFF;
  margin-bottom: 25px; }

.hugeTitle {
  background: #FFF url(hugeLogo.png) no-repeat;
  text-indent: -9999px;
	height: 40px;
  margin: 0 0 15px 0; 
	width:140px;}

#dlSourceBtn {
  background: #f73e9f;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  font-size: 13px;
  padding: 5px 10px;
  font-weight: 700; }
  #dlSourceBtn:hover {
    background: #cf2680;
    text-decoration: none; }

#pages ul li a.clicked {
  background: #777777;
  color: white;
  padding: 2px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none; }

.sidebarAccordian h2.accToggler {
  padding: 6px 0 6px 15px;
  font-size: 13px;
  color: #444444;
  background-color: #cccccc;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eeeeee), color-stop(1, #cccccc));
  /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc')";
  /* IE8 */
  border-top: 1px solid #dddddd; }
  .sidebarAccordian h2.accToggler:hover {
    color: black; }
.sidebarAccordian h2.accActive {
  padding: 6px 0 6px 15px;
  font-size: 13px;
  color: white;
  background-color: #666666;
  background-image: -moz-linear-gradient(top, #ed228e, #ea3593);
  /* FF3.6 */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ed228e), color-stop(1, #ea3593));
  /* Saf4+, Chrome */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ED228E', EndColorStr='#EA3593');
  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ED228E', EndColorStr='#EA3593')";
  /* IE8 */ }
  .sidebarAccordian h2.accActive:hover {
    padding: 6px 0 6px 15px;
    font-size: 13px;
    color: white;
    background-color: #666666;
    background-image: -moz-linear-gradient(top, #ed228e, #ea3593);
    /* FF3.6 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ed228e), color-stop(1, #ea3593));
    /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ED228E', EndColorStr='#EA3593');
    /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ED228E', EndColorStr='#EA3593')";
    /* IE8 */ }

.accToggler span {
  background: url(../img/icon-arrow.png) no-repeat 0px 3px;
  padding-left: 15px; }

.accActive span {
  background: url(../img/icon-arrow.png) no-repeat 0px -26px;
  padding-left: 15px; }

.ie6 .accToggler span, .ie6 .accActive span {
  background: none;
  padding-left: 0px; }

.accContent ul {
  padding: 10px 0 15px 15px;
  width: 85%;
  list-style-position: inside;
  font-size: 12px; }
  .accContent ul li {
    padding: 8px 0;
    color: black; }
    .accContent ul li a {
      font-size: 12px;
      font-weight: 700; }

.downloads .title {
  font-size: 12px;
  font-weight: bold; }
.downloads ul li {
  margin-left: 15px; }
  .downloads ul li a {
    color: #333333;
    font-size: 12px; }

.not-complete{
	color: #8b100b !important;
}